# tmux のセッションデータ
.tmux/resurrect

# tpm 関連
.tmux/plugins/*
!.tmux/plugins/tpm

# Brew
Brewfile.lock.json

.java-version

!.claude
!.claude/*
.claude/settings.local.json

!.codex
!.codex/*
!.serena/
.serena/*
!.serena/serena_config.yml
!.config/opencode
!.config/opencode/*

!.agents/skills/*/AGENTS.md
